<nav>
  <div id="sign-login-header">
 
    <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#" class="sign" id="fr">Fr</a></li>
      <li><a href="#" class="button small-10 sign">Sign up</a></li>
      <li><a href="#" class="button small-10 log">Log in</a></li>
    </ul>
  </div>
  </div>

  <div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= link_to 'RemApp', root_path, class: 'logo' %></li>
    </ul>
  </div>
  <div class="menu-centered">
    <ul class="menu center-menu"  id="horizontal-center">
      <li><%= link_to "ABOUT", remotappoint_about_path %></li>
       <li><%= link_to "HOW IT WORKS", remotappoint_how_it_works_path %></li>
        <li><%= link_to "HEALTH TIPS", remotappoint_health_tips_path %></li>
         <li><%= link_to "NEWS", remotappoint_news_path %></li>
           
    </ul>
  </div>
</div>
</nav>